<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="news.androidtv.neodash">

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Don't request this starting with Marshmallow (we only write to the app's cache folder) -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:banner="@drawable/banner"
        android:supportsRtl="true"
        android:theme="@style/Theme.Neodash.AppTheme"
        tools:replace="android:theme">
        <activity
            android:name=".activities.StartupActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DemoActivity"
            android:exported="true" />

        <activity
            android:name=".activities.DemoRenderActivity"
            android:exported="true" />

        <activity
            android:name=".activities.WallpaperSettingsActivity"
            android:exported="true" />

        <activity
            android:name=".activities.WallpaperDisplayActivity"
            android:exported="true" />

        <activity
            android:name=".activities.DashboardSettingsActivity"
            android:exported="true" />

        <activity android:name="com.google.android.apps.muzei.settings.SettingsActivity"
            android:exported="true" />

        <!-- This service is only used on devices with API v17+ -->
        <service
            android:name=".services.NeodashDreamService"
            android:label="NeoDash Screensaver"
            android:permission="android.permission.BIND_DREAM_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_service" />
        </service>

        <service
            android:name=".services.NeodashJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <!-- Disables DashClock dream -->
        <service
            android:name="com.google.android.apps.dashclock.DaydreamService"
            android:exported="true"
            android:enabled="false"
            android:permission="android.permission.BIND_DREAM_SERVICE" />

        <activity android:name=".activities.AppSettingsActivity"
            android:theme="@style/Theme.ExtensionConfiguration"
            android:exported="true" />

        <!-- Disable some built-in DashClock extensions that won't work on TVs -->
        <service android:name="com.google.android.apps.dashclock.calendar.CalendarExtension"
            android:enabled="false" />
        <service android:name="com.google.android.apps.dashclock.nextalarm.NextAlarmExtension"
            android:enabled="false" />
        <service android:name="com.google.android.apps.dashclock.weather.WeatherExtension"
            android:enabled="false" />

        <!-- Include new TV-specific widgets -->
        <service
            android:name=".extensions.debug.DummyExtension"
            android:label="Dummy Extension"
            android:icon="@drawable/ic_action_done"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter android:priority="100">
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data android:name="protocolVersion"
                android:value="@integer/current_extension_protocol_version" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="Shows some text and it's easy." />
        </service>

        <activity
            android:theme="@style/Theme.ExtensionConfiguration"
            android:name=".extensions.debug.DummySettingsActivity"
            android:exported="true" />

        <service
            android:name=".extensions.weather.WeatherExtension"
            android:label="Current Weather"
            android:icon="@drawable/weather_sunny"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter android:priority="100">
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data android:name="protocolVersion"
                android:value="@integer/current_extension_protocol_version" />
            <meta-data android:name="worldReadable" android:value="true" />
            <meta-data android:name="description"
                android:value="Shows current weather details. Requires your location." />
            <meta-data android:name="settingsActivity"
                android:value="news.androidtv.neodash.extensions.weather.WeatherSettingsActivity" />
        </service>

        <activity
            android:theme="@style/Theme.ExtensionConfiguration"
            android:name=".extensions.weather.WeatherSettingsActivity"
            android:exported="true" />
    </application>

</manifest>